<div id="<%= dom_id pet_history %>">
  <p>
    <strong>Pets:</strong>
    <%= pet_history.pets_id %>
  </p>

  <p>
    <strong>Weigth:</strong>
    <%= pet_history.weigth %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pet_history.height %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet_history.description %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= pet_history.Pet_id %>
  </p>

</div>
